@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;0,800;0,900;1,400&display=swap');

body {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  background-color: hsl(220, 0%, 97%);
  padding: 48px 24px 24px 24px;
}

h4 {
  font-weight: 700;
}

h6 {
  font-weight: 700;
  margin-bottom: 48x;
}

.sun-editor-editable h6 {
  font-size: 16px !important;
  margin: 0px auto 8px auto !important;
}

.sun-editor-editable p,
.sun-editor-editable li {
  font-size: 16px !important;
}
